*{
    user-select: none; /* Evita la selección de texto */
    cursor: default;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* font-variation-settings:"wdth"; */
}
html{
    height: 100%;
    background-color: rgb(0, 0, 0);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-filter: drop-shadow(0px 0px 5px #383838);
    filter: drop-shadow(0px 0px 5px #383838);
    min-height: 100%;
    min-width: 100%;
    width: 1000px;
}

canvas{
    z-index: 1;
}

.boton{
    background-image: linear-gradient(to right, rgb(95, 25, 25),rgb(95, 25, 25),rgb(95, 25, 25), rgb(107, 29, 29));
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: -3px 2px 1px rgb(0, 0, 0);
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    margin:5px;
}

.boton img{
    height: 80%;
}

#parte1,#parte2{
    display: flex;
}

#botRuido img{height: 90%;}

#botCuadrada img{height: 70%;}

#subirOctava img{height: 55%;}
#bajarOctava img{height: 55%;transform: rotate(180deg);}

#refrescar img{height: 70%;}

#botInst{
    background-image: url(https://cdn-icons-png.flaticon.com/512/70/70948.png);
    background-size: 50px;
    height: 50px;
}

#botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 753px;
    height: 100px;
    font-size: 28px;
    box-shadow: 0px 20px 25px rgb(0, 0, 0);
    z-index: 2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position:relative;
    background-image: linear-gradient(to right, rgb(17, 17, 17),rgb(20, 20, 20),rgb(20, 20, 20), rgb(30, 30, 30));
}

.boton:hover{
    transform: scale(1.03);transition:transform 0.1s;
}
.boton:active{
    transform: scale(1.02);
}

#teclado{
    width: 753px;
    background-color: #141414;
}

#contCanvas{
    position:relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 753px;
    margin:300px 30px;
}
#env{
    position:absolute;
    z-index: 0;
    /* top:-82px; */
    top:0px;
    left: 20px;
    background-color: rgb(12, 12, 12);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#custom,#ecu,#efectos{
    position:absolute;
    z-index: 0;
    top:0px;
    left: 20px;
    background-color: rgb(12, 12, 12);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#botones>div{
    display: flex;
    height: 100%;
}
#contOndas{
    align-items: center;
    flex-direction: column;
}
#contOctavas{
    flex-direction: column;
    justify-content: center;
}
#contEnv,#contTrans,#contOndas,#contFX,#contBotInst{
    font-size: 16px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}

#contTrans{flex-direction: column;}

#trans{
    position:absolute;
    top:0px;
    left:372px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(122, 31, 31, 0.6);
    height: 30px;
    width: 50px;
    background-color: rgb(6, 6, 6);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 1;
}

#refrescar{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(122, 31, 31);
    background-image: linear-gradient(to right, rgb(95, 25, 25),rgb(95, 25, 25),rgb(95, 25, 25), rgb(107, 29, 29));
    top:0px;
    left: 40px;
    z-index: -1;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#ancho{
    position:absolute;
    background-color: #141414;
    left: 10px;
    top:50px;
    z-index: 0;
}

#contEnv{
    flex-direction:column;
}
#contEnv>div{
    display: flex;
}
#botLow1,#botHigh1,#botAmp1,#botEQ1{
    width: 75px;
}

#instrumentos{
    display: flex;
    height: 100px;
    position: absolute;
    top:0px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
#contInst{
    display: flex;
    height: 100px;
}
#instrumentos div{
    width: 100px;
    height: 23px;
    color:rgb(110, 110, 110);
    margin: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 12, 12);
}

/* #ecu{top:-202px;} */
/* #efectos{top:-202px;} */
/* #instrumentos{top:-100px;} */

#debug,#debug2,#debug3{
    /* width: 50px; */
    text-align: center;
    background-color: rgb(150, 76, 76);
    display: none;
}

#debug2{
    width: 50px;
    height: 50px;
    background-color: red;
}

#canvaPrueba{
    margin-top: 20px;
    background-color: #141414;
    display: none;
}

input{
    width: 500px;
    margin-top:20px;
}